//mixins
@mixin clearfix {
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin website-width {
  .website-width {
    max-width: $websiteMaxWidth;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin content-width {
  .content-width {
    max-width: $contentMaxWidth;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin security-icons-mixin {
  .security-icon {
    font-size: 0;
    color: transparent;
    display: inline-block;
  }
  .global-icon {
    background: url('#{$mainSprite}') no-repeat -612px -7px;
    width: 125px;
    height: 49px;
  }
  .norton-icon {
    background: url('#{$mainSprite}') no-repeat -250px -12px;
    width: 111px;
    height: 66px;
  }
  .a256bit-icon {
    background: url('#{$mainSprite}') no-repeat 0 -120px;
    width: 136px;
    height: 66px;
  }
}