//variables
$websiteMaxWidth: 1655px;
$contentMaxWidth: 1137px;
$blue1: rgb(0, 192, 232);
$gray1: rgb(102, 102, 102);
$gray2: rgb(77, 76, 76);
$graySuperLight1:rgb(238, 238, 238);
$pics: "../pics/";
$mainSprite: "#{$pics}main-sprite.png";
$fonts: "../fonts";
$fontMain: "GothamProMedium";
$fontMainRegular: "GothamProRegular";