/* font-family: "GothamProMedium"; */

@font-face {
  font-family: "GothamProMedium";
  src: url("./fonts/GothamProMedium/GothamProMedium.eot");
  src: url("./fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"), url("./fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("./fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}


/* font-family: "GothamProRegular"; */

@font-face {
  font-family: "GothamProRegular";
  src: url("./fonts/GothamProRegular/GothamProRegular.eot");
  src: url("./fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"), url("./fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("./fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


/* font-family: "GothamProBold"; */

@font-face {
  font-family: "GothamProBold";
  src: url("./fonts/GothamProBold/GothamProBold.eot");
  src: url("./fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"), url("./fonts/GothamProBold/GothamProBold.woff") format("woff"), url("./fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "GothamProMedium", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background-color: rgb(255, 255, 255);
}

.website-width {
  width: 1655px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: rgb(71, 71, 71);
  /*gray*/
  text-decoration: none;
  font-size: 0.8em;
}

a:link {
  color: rgb(71, 71, 71);
  /*gray*/
}

a:hover {
  color: rgb(55, 55, 55);
  /*darker gray*/
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  outline-style: dotted;
  outline-width: 1px;
}


/*hiding text*/

.text-hide {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


/*====================
    Styling header
====================*/


/*Making placeholder same color*/

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(102, 102, 102);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(102, 102, 102);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(102, 102, 102);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(102, 102, 102);
}

header {
  background-image: url("pics/banner.jpg");
  background-repeat: no-repeat;
  padding: 30px 40px 0px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .logo-wrapper {
  display: inline-block;
}

header .logo-wrapper .logo-text {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

header .header-phone-number-wrapper {
  float: right;
  margin-top: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

header h2 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 35px;
  text-transform: capitalize;
  text-align: left;
}

.curved-arrow-down {
  background: url('pics/main-sprite.png') no-repeat 0 0;
  width: 47px;
  height: 50px;
  display: inline-block;
  font-size: 0;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 15px;
}

.head-message {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

header .header-content-wrapper {
  width: 68.7%;
  margin: 40px auto 0 auto;
  border-radius: 7px 7px 0 0;
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 0 15px;
}

.small-circle {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border: none;
  width: 9px;
  height: 9px;
  background-color: rgb(240, 249, 249);
  display: inline-block;
}

header .header-content-wrapper .header-data-wrapper {
  background-color: rgb(238, 238, 239);
  border-radius: 7px 7px 0 0;
  padding-top: 1px;
  margin-top: 15px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 0 7px 7px 0;
  width: 250px;
  padding-top: 10px;
  padding-right: 15px;
  float: left;
  margin-right: 10px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper a {
  text-transform: uppercase;
  color: rgb(211, 211, 211);
  margin-left: 5px;
  margin-right: 7px;
  font-size: 12px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .active {
  color: rgb(60, 203, 235);
  font-weight: bold;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .header-form-line {
  margin: 10px auto;
  height: 1px;
  color: rgb(223, 228, 230);
  background: rgb(223, 228, 230);
  font-size: 0;
  border: 0;
  width: 97%;
}

.progress-bar p {
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  float: right;
  font-size: 12px;
}

.progress-bar .progress-bar-scale {
  width: 114px;
  height: 6px;
  background-color: rgb(237, 237, 237);
  font-size: 0;
  border-radius: 7px;
  margin: 5px 5px 5px 0;
  display: inline-block;
}

.progress-bar .progress-bar-scale .progress-bar-val {
  width: 13%;
  height: 6px;
  background-color: rgb(0, 192, 232);
  font-size: 0;
  border-radius: 7px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form {
  /*question-form*/
  margin-top: 10px;
  color: rgb(102, 102, 102);
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .question-form-input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgb(223, 228, 231);
  border: 1px solid rgb(223, 228, 231);
  font-size: 12px;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .calendar-field {
  background-image: url('pics/calendar.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  padding-right: 35px;
  padding: 9px 5px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .select-field {
  background-color: rgb(223, 228, 231);
  background-image: url('pics/select-arrow-small.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  padding-right: 35px;
  padding: 9px 5px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .radio-btn-field {
  cursor: pointer;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns {
  list-style: none;
  width: 100%;
  color: rgb(102, 102, 102);
  font-size: 12px;
  padding: 2px 5px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li {
  float: left;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li p {
  text-align: center;
  border-right: 2px solid rgb(240, 244, 247);
  padding-right: 5px;
  line-height: 26px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li input {
  visibility: hidden;
  height: 0;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li label {
  cursor: pointer;
  line-height: 26px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li input:checked+label {
  background: rgb(102, 102, 102);
  color: rgb(223, 228, 231);
  transition: background-color 0.2s linear;
  padding: 0;
}

.offer-wrapper {
  float: left;
  margin-top: 5px;
  padding: 5px;
  color: rgb(175, 177, 179);
  font-size: 0;
}

.offer-wrapper .price-accuracy {
  display: inline-block;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  font-size: 12px;
  margin-right: 1px;
}

.offer-wrapper .antenna {
  background-color: white;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

.offer-wrapper .antenna a {
  color: rgb(0, 192, 232);
  text-transform: uppercase;
  font-weight: 700;
}

.offer-wrapper .antenna .antenna-icon {
  background: url('pics/main-sprite.png') no-repeat -60px -35px;
  width: 11px;
  height: 11px;
  font-size: 0;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.offer-wrapper .offer-item {
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
}

.offer-wrapper .offer-item .offer-company {
  font-size: 16px;
  color: rgb(102, 102, 102);
  float: left;
  margin-right: 100px;
  margin-left: 10px;
  vertical-align: middle;
  padding: 10px 0;
  text-transform: capitalize;
}

.offer-wrapper .offer-item .offer-details {
  font-size: 18px;
  float: right;
  padding: 5px 0;
}

.offer-wrapper .offer-item .offer-details p {
  font-size: 18px;
  color: rgb(102, 102, 102);
  vertical-align: top;
  text-align: center;
}

.offer-wrapper .offer-item .offer-details .ruble {
  background: url('pics/main-sprite.png') no-repeat -589px -16px;
  width: 8px;
  height: 10px;
  font-size: 0;
  color: transparent;
  display: inline-block;
  vertical-align: top;
}

.offer-wrapper .offer-item .offer-details .per-year {
  font-size: 12px;
  color: rgb(175, 177, 179);
  display: block;
}