/* font-family: "GothamProMedium"; */

@font-face {
  font-family: "GothamProMedium";
  src: url("./fonts/GothamProMedium/GothamProMedium.eot");
  src: url("./fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"), url("./fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("./fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}


/* font-family: "GothamProRegular"; */

@font-face {
  font-family: "GothamProRegular";
  src: url("./fonts/GothamProRegular/GothamProRegular.eot");
  src: url("./fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"), url("./fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("./fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


/* font-family: "GothamProBold"; */

@font-face {
  font-family: "GothamProBold";
  src: url("./fonts/GothamProBold/GothamProBold.eot");
  src: url("./fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"), url("./fonts/GothamProBold/GothamProBold.woff") format("woff"), url("./fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "GothamProMedium", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background-color: rgb(255, 255, 255);
}

.website-width {
  width: 1655px;
  margin-left: auto;
  margin-right: auto;
}

.content-width {
  width: 68.7%;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: rgb(71, 71, 71);
  /*gray*/
  text-decoration: none;
  font-size: 0.8em;
}

a:link {
  color: rgb(71, 71, 71);
  /*gray*/
}

a:hover {
  color: rgb(55, 55, 55);
  /*darker gray*/
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  outline-style: dotted;
  outline-width: 1px;
}


/*====================
    Styling header
====================*/


/*Making placeholder same color*/

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(102, 102, 102);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(102, 102, 102);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(102, 102, 102);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(102, 102, 102);
}

header {
  background-image: url("pics/banner.jpg");
  background-repeat: no-repeat;
  padding: 30px 40px 0px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .woman {
  position: absolute;
  margin-left: 12.3%;
  margin-top: -18.8%;
}

header .logo-wrapper {
  display: inline-block;
}

header .logo-wrapper .logo-text {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

header .header-phone-number-wrapper {
  float: right;
  margin-top: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

header h2 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 35px;
  text-transform: capitalize;
  text-align: left;
}

.curved-arrow-down {
  background: url('pics/main-sprite.png') no-repeat 0 0;
  width: 47px;
  height: 50px;
  display: inline-block;
  font-size: 0;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 15px;
}

.head-message {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.head-message h2 {
  font-size: 46px;
}

header .header-content-wrapper {
  border-radius: 7px 7px 0 0;
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 0 15px;
  margin: 75px auto 0 auto;
}

.small-circle {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border: 0;
  width: 9px;
  height: 9px;
  background-color: rgb(240, 249, 249);
  display: inline-block;
}

header .header-content-wrapper .header-data-wrapper {
  background-color: rgb(238, 238, 239);
  border-radius: 7px 7px 0 0;
  padding-top: 1px;
  margin-top: 15px;
  height: 290px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 0 7px 7px 0;
  width: 23%;
  padding-top: 20px;
  padding-right: 22px;
  padding-left: 10px;
  float: left;
  margin-right: 10px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper a {
  text-transform: uppercase;
  color: rgb(211, 211, 211);
  margin-left: 7px;
  margin-right: 7px;
  font-size: 12px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .active {
  color: rgb(60, 203, 235);
  font-weight: bold;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .header-form-line {
  margin: 20px auto;
  height: 1px;
  color: rgb(223, 228, 230);
  background: rgb(223, 228, 230);
  font-size: 0;
  border: 0;
  width: 97%;
}

.progress-bar p {
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  float: right;
  font-size: 12px;
}

.progress-bar .progress-bar-scale {
  width: 114px;
  height: 6px;
  background-color: rgb(237, 237, 237);
  font-size: 0;
  border-radius: 7px;
  margin: 5px 5px 5px 0;
  display: inline-block;
}

.progress-bar .progress-bar-scale .progress-bar-val {
  width: 13%;
  height: 6px;
  background-color: rgb(0, 192, 232);
  font-size: 0;
  border-radius: 7px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form {
  /*question-form*/
  margin-top: 10px;
  color: rgb(102, 102, 102);
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .question-form-input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgb(223, 228, 231);
  border: 1px solid rgb(223, 228, 231);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .calendar-field {
  background-image: url('pics/calendar.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  padding: 9px 5px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .select-field {
  background-color: rgb(223, 228, 231);
  background-image: url('pics/select-arrow-small.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  padding: 9px 5px;
  font-size: 10px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .radio-btn-field {
  cursor: pointer;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns {
  list-style: none;
  width: 100%;
  color: rgb(102, 102, 102);
  padding: 2px 5px;
  font-size: 10px;
  margin-bottom: 25px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li {
  float: left;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li p {
  text-align: center;
  border-right: 2px solid rgb(240, 244, 247);
  padding-right: 5px;
  line-height: 26px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li input {
  visibility: hidden;
  height: 0;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li label {
  cursor: pointer;
  line-height: 26px;
}

header .header-content-wrapper .header-data-wrapper .form-wrapper .question-form .gender-radio-btns li input:checked+label {
  background: rgb(102, 102, 102);
  color: rgb(223, 228, 231);
  transition: background-color 0.2s linear;
  padding: 0;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper {
  margin-top: 5px;
  padding: 5px;
  color: rgb(175, 177, 179);
  font-size: 0;
  float: left;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .price-accuracy {
  display: inline-block;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  margin-right: 1px;
  font-size: 10px;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .antenna {
  background-color: white;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-size: 10px;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .antenna a {
  color: rgb(0, 192, 232);
  text-transform: uppercase;
  font-weight: 700;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .antenna .antenna-icon {
  background: url('pics/main-sprite.png') no-repeat -60px -35px;
  width: 11px;
  height: 10px;
  font-size: 0;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .offer-item {
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  font-family: "GothamProBold", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .offer-item .offer-company {
  color: rgb(102, 102, 102);
  float: left;
  margin: 0 50px 0 10px;
  vertical-align: middle;
  padding: 20px 0;
  text-transform: capitalize;
  font-size: 20px;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .offer-item .offer-details {
  float: right;
  padding: 15px 0;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .offer-item .offer-details p {
  font-size: 20px;
  color: rgb(102, 102, 102);
  vertical-align: top;
  text-align: center;
  margin-right: 50px;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .offer-item .offer-details .ruble {
  background: url('pics/main-sprite.png') no-repeat -589px -16px;
  width: 8px;
  height: 10px;
  font-size: 0;
  color: transparent;
  display: inline-block;
  vertical-align: top;
}

header .header-content-wrapper .header-data-wrapper .offer-wrapper .offer-item .offer-details .per-year {
  font-size: 12px;
  color: rgb(175, 177, 179);
  display: block;
}


/*start selection form styling*/

header .header-content-wrapper .header-data-wrapper .start-selection-wrapper {
  background-color: rgb(102, 102, 102);
  width: 380px;
  padding: 20px 0 15px 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -333px -20px 0 0;
  float: right;
}

header .header-content-wrapper .header-data-wrapper .start-selection-wrapper p {
  color: white;
  text-transform: capitalize;
  display: inline-block;
  text-align: left;
  font-size: 34px;
}

header .header-content-wrapper .header-data-wrapper .start-selection-wrapper .start-selection-select {
  width: 90%;
  border-radius: 5px;
  margin-top: 30px;
  border: 0;
  background-color: white;
  background-image: url('pics/dropdown-arrow-big.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  padding: 16px 35px 16px 5px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
}

header .header-content-wrapper .header-data-wrapper .start-selection-wrapper .start-selection-button {
  background-color: rgb(0, 192, 232);
  border-radius: 5px;
  margin: 30px 0 35px 0;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  width: 90%;
}

header .header-content-wrapper .header-data-wrapper .start-selection-wrapper .start-selection-button .start-selection-button-caption {
  text-transform: capitalize;
  color: white;
  font-size: 31px;
  margin: 10px;
  display: inline-block;
}

header .header-content-wrapper .header-data-wrapper .start-selection-wrapper .start-selection-button .right-arrow {
  font-size: 0;
  background: url('pics/main-sprite.png') no-repeat -90px -65px;
  width: 13px;
  height: 22px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  margin-left: 35px;
}


/*styling about trankila*/

body section .about-company-wrapper {
  margin: 0 auto 0 auto;
}

body section .about-company-wrapper .how-it-works-wrapper {
  width: 100%;
  background-color: rgb(251, 251, 251);
}

body section .about-company-wrapper .how-it-works-wrapper .how-it-works {
  background-repeat: no-repeat;
  padding: 30px 40px 0px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body section .about-company-wrapper .how-it-works-wrapper .how-it-works .how-it-works-text {
  width: 55%;
  float: left;
}

body section .about-company-wrapper .how-it-works-wrapper .how-it-works .how-it-works-text h2 {
  color: rgb(77, 76, 76);
  font-size: 24px;
  margin-bottom: 20px;
}

body section .about-company-wrapper .how-it-works-wrapper .how-it-works .how-it-works-text p {
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-bottom: 20px;
}

body section .about-company-wrapper .how-it-works-wrapper .how-it-works .how-it-works-text a {
  color: rgb(0, 192, 232);
  font-size: 14px;
  text-transform: capitalize;
}

.security-icons-wrapper {
  float: right;
}

.security-icon {
  font-size: 0;
  color: transparent;
  display: inline-block;
}

.global-icon {
  background: url('pics/main-sprite.png') no-repeat -612px -7px;
  width: 125px;
  height: 49px;
}

.norton-icon {
  background: url('pics/main-sprite.png') no-repeat -250px -12px;
  width: 111px;
  height: 66px;
}

.a256bit-icon {
  background: url('pics/main-sprite.png') no-repeat 0 -120px;
  width: 136px;
  height: 66px;
}

body section .about-company-wrapper .what-we-do {
  background-color: white;
  padding: 30px 40px 0px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body section .about-company-wrapper .what-we-do h2 {
  text-align: center;
  font-size: 34px;
  color: rgb(77, 76, 76);
  margin-top: 50px;
}

body section .about-company-wrapper .what-we-do h4 {
  text-align: center;
  font-size: 18px;
  color: rgb(102, 102, 102);
  font-weight: normal;
  margin-top: 50px;
}

body section .about-company-wrapper .what-we-do h3 {
  font-size: 21px;
  color: rgb(77, 76, 76);
}

body section .about-company-wrapper .our-functions {
  background: white;
  margin-top: 80px;
  margin-bottom: 15px;
}

body section .about-company-wrapper .our-functions .our-functions-row {
  width: 100%;
  margin-bottom: 85px;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col {
  width: 45%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

body section .about-company-wrapper .our-functions .our-functions-row :nth-child(1) {
  margin-right: 5%;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col .func-pic {
  font-size: 0;
  color: transparent;
  margin-right: 15px;
  float: left;
  clear: both;
  width: 90px;
  height: 90px;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col .piggybank {
  background: url('pics/main-sprite.png') no-repeat -516px -97px;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col .solar-clock {
  background: url('pics/main-sprite.png') no-repeat -424px -124px;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col .magnifier {
  background: url('pics/main-sprite.png') no-repeat -624px -104px;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col .page-pic {
  background: url('pics/main-sprite.png') no-repeat -370px -5px;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col h4 {
  font-size: 21px;
  color: rgb(77, 76, 76);
  margin-bottom: 25px;
  overflow: auto;
  display: block;
}

body section .about-company-wrapper .our-functions .our-functions-row .our-functions-col p {
  font-size: 14px;
  color: rgb(153, 153, 153);
  line-height: 2;
  overflow: auto;
  display: block;
  box-sizing: border-box;
}

body section .about-company-wrapper .average-economy-wrapper {
  /*Background gradient generated using http://gradientgenerator.com/*/
  background-color: #16d3e2;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMxMWRlZDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzFiYzdlYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0, rgb(17, 222, 217)), color-stop(1, rgb(27, 199, 234)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(bottom right, rgb(17, 222, 217) 0%, rgb(27, 199, 234) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to top left, rgb(17, 222, 217) 0%, rgb(27, 199, 234) 100%);
  background-image: -ms-repeating-linear-gradient(bottom right, rgb(17, 222, 217) 0%, rgb(27, 199, 234) 100%);
  /*end of gradient*/
  background-image: url("pics/bell-curve.png");
  background-repeat: no-repeat;
  background-position: 800px 95px;
  color: white;
  padding: 85px 223px 80px 230px;
}

body section .about-company-wrapper .average-economy-wrapper .avg-econ-text {
  width: 60%;
  line-height: 1.5;
  float: left;
}

body section .about-company-wrapper .average-economy-wrapper .avg-econ-text .avg-econ-text-main {
  font-size: 34px;
}

body section .about-company-wrapper .average-economy-wrapper .avg-econ-text .avg-econ-text-supl {
  font-size: 16px;
  margin-top: 42px;
}

body section .about-company-wrapper .average-economy-wrapper .bell-curve-top {
  font-size: 16px;
  color: white;
  float: right;
  margin-top: 1.8%;
  margin-right: 1.5%;
}

body section .about-company-wrapper .average-economy-wrapper .bell-curve-scale {
  font-size: 14px;
  color: rgb(71, 161, 158);
  border-top: solid 1px white;
  float: right;
  margin-right: -9%;
  margin-top: 6%;
}

body section .about-company-wrapper .average-economy-wrapper .bell-curve-scale ul {
  list-style: none;
  margin-top: 7px;
}

body section .about-company-wrapper .average-economy-wrapper .bell-curve-scale ul li {
  float: left;
  margin-left: 28px;
}

body section .about-company-wrapper .average-economy-wrapper .bell-curve-scale ul li:nth-child(1) {
  margin-left: 0;
}

body section .about-company-wrapper .average-economy-wrapper .bell-curve-scale .active-scale {
  color: black;
}

body section .show-case-wrapper {
  text-align: center;
}

body section .show-case-wrapper .show-case {
  margin-top: 70px;
  margin-bottom: 60px;
}

body section .show-case-wrapper .show-case h2 {
  font-size: 34px;
  color: rgb(77, 76, 76);
  margin-bottom: 30px;
  text-transform: capitalize;
}

body section .show-case-wrapper .show-case p {
  font-size: 18px;
  color: rgb(102, 102, 102);
}


/*slider*/

body section .show-case-wrapper .slider {
  height: 350px;
  display: inline-block;
  text-align: center;
}

body section .show-case-wrapper .slider .slide {
  font-size: 0;
  height: 242px;
  width: 594px;
  animation: 20s slidy infinite;
}

body section .show-case-wrapper .slider .slide .slider-arrow {
  width: 20px;
  height: 30px;
  font-size: 0;
  margin-top: 100px;
}

body section .show-case-wrapper .slider .slide .slider-arrow-left {
  background: url('pics/main-sprite.png') no-repeat -462px -18px;
  float: left;
}

body section .show-case-wrapper .slider .slide .slider-arrow-right {
  background: url('pics/main-sprite.png') no-repeat -501px -18px;
  float: right;
}


/*slider animation*/

@keyframes slidy {
  10% {
    background: url('pics/logos-sprite.png') no-repeat 0 0;
  }
  20% {
    background: url('pics/logos-sprite.png') no-repeat -609px -3px;
  }
  40% {
    background: url('pics/logos-sprite.png') no-repeat -1269px -6px;
  }
  60% {
    background: url('pics/logos-sprite.png') no-repeat -1848px -8px;
  }
  80% {
    background: url('pics/logos-sprite.png') no-repeat -1269px -6px;
  }
  100% {
    background: url('pics/logos-sprite.png') no-repeat -609px -3px;
  }
}

body section .all-insurers h2 {
  text-transform: capitalize;
  font-size: 34px;
  color: rgb(77, 76, 76);
  padding-bottom: 35px;
  border-bottom: 5px solid rgb(238, 238, 238);
  text-align: left;
}

body section .all-insurers .insurers-block {
  border-bottom: 5px solid rgb(238, 238, 238);
  text-align: left;
  padding: 35px 0 35px 0;
}

body section .all-insurers .no-border {
  border: 0;
}

body section .all-insurers .insurers-block .letter-index {
  font-size: 21px;
  color: rgb(0, 192, 232);
  text-transform: capitalize;
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}

body section .all-insurers .insurers-block .insurers {
  list-style: none;
  display: inline-block;
}

body section .all-insurers .insurers-block .insurers li {
  display: block;
  text-align: left;
  margin-bottom: 25px;
}

body section .all-insurers .insurers-block .insurers li:last-child {
  margin-bottom: 0;
}

body section .all-insurers .insurers-block .insurers a {
  font-size: 21px;
  color: rgb(118, 118, 118);
}

body section .all-insurers .insurers-block .insurers .active-insurer {
  color: rgb(29, 141, 166);
}

body section .all-insurers .heading-a {
  font-size: 21px;
  color: rgb(77, 76, 76);
  margin-top: 35px;
  margin-bottom: 85px;
  display: inline-block;
}

body section .all-insurers .insurers-block .no-index {
  margin-left: 55px;
}

body section .faq-wrapper {
  background-color: rgb(249, 249, 249);
}

body section .faq-wrapper .faq-container {
  padding-bottom: 40px;
}

body section .faq-wrapper .faq-container h2 {
  font-size: 34px;
  color: rgb(77, 76, 76);
  text-align: center;
  padding-top: 70px;
}

body section .faq-wrapper .faq-container h4 {
  font-family: "GothamProRegular";
  font-size: 18px;
  color: rgb(102, 102, 102);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

body section .faq-wrapper .faq-container .faq-item {
  padding-bottom: 15px;
}

body section .faq-wrapper .faq-container .faq-item .faq-heading {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 27px;
  margin: 0 auto;
}

body section .faq-wrapper .faq-container .faq-item .faq-heading .question-mark {
  background: url('pics/main-sprite.png') no-repeat -545px -9px;
  width: 35px;
  height: 35px;
  font-size: 0;
  color: transparent;
  float: right;
}

body section .faq-wrapper .faq-container .faq-item .faq-heading h3 {
  font-family: "GothamProBold";
  font-size: 31px;
  color: rgb(102, 102, 102);
  border-bottom: 3px dashed rgb(102, 102, 102);
  display: inline-block;
  cursor: pointer;
}

body section .faq-wrapper .faq-container .faq-item .faq-heading h3:hover {
  border-bottom: 3px dashed rgb(0, 192, 232);
  transition: border-bottom 0.2s linear;
}

body section .faq-wrapper .faq-container .faq-item .faq-answer {
  width: 80%;
  background-color: white;
  padding: 27px;
  margin: 0 auto;
  border-radius: 5px;
}

.invisible {
  display: none;
}

body section .faq-wrapper .faq-container .faq-item .faq-answer .faq-answer-text {
  font-family: "GothamProRegular";
  font-size: 18px;
  color: rgb(102, 102, 102);
}

body section .faq-wrapper .faq-container .faq-item .faq-answer p {
  margin-bottom: 20px;
}

body section .faq-wrapper .faq-container .faq-item .faq-answer .faq-answer-text .read-more-wrapper {
  text-align: center;
}

body section .faq-wrapper .faq-container .faq-item .faq-answer .faq-answer-text .read-more-wrapper .read-more {
  font-family: "GothamProMedium";
  font-size: 14px;
  color: rgb(0, 192, 232);
}

body section .faq-wrapper .faq-container .faq-item .faq-heading .read-all-articles-wrapper {
  text-align: center;
}

body section .faq-wrapper .faq-container .faq-item .faq-heading .read-all-articles-wrapper .read-all-articles {
  font-family: "GothamProMedium";
  font-size: 21px;
  color: rgb(77, 76, 76);
  margin: 0 auto;
}

body section .show-case-wrapper .show-case .price-compare-form {
  margin-top: 60px;
}

body section .show-case-wrapper .show-case .price-compare-form .form-component {
  background-color: rgb(0, 192, 232);
  padding: 20px;
  border: 0;
  border-radius: 7px;
  font-family: "GothamProRegular";
  font-size: 18px;
}

body section .show-case-wrapper .show-case .price-compare-form .form-component:hover {
  background-color: rgb(0, 150, 250);
  transition: background-color 0.2s linear;
}

body section .show-case-wrapper .show-case .price-compare-form input[type=text] {
  color: rgb(158, 157, 157);
  font-style: italic;
  margin-right: 10px;
}

body section .show-case-wrapper .show-case .price-compare-form input[type=text]:focus {
  background-color: white;
}

body section .show-case-wrapper .show-case .price-compare-form button {
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

body section .bottom-navbar-wrapper {
  border-top: 5px solid rgb(238, 238, 238);
}

body section .bottom-navbar-wrapper .bottom-security-icons {
  text-align: center;
  padding-top: 80px;
}

body section .bottom-navbar-wrapper .bottom-navbar {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

body section .bottom-navbar-wrapper .bottom-navbar ul {
  list-style: none;
  display: inline-block;
}

body section .bottom-navbar-wrapper .bottom-navbar ul li {
  float: left;
  margin-left: 20px;
}

body section .bottom-navbar-wrapper .bottom-navbar ul li:first-child {
  margin-left: 0;
}

body section .bottom-navbar-wrapper .bottom-navbar ul li a {
  font-family: "GothamProMedium";
  font-size: 19px;
  color: rgb(77, 76, 76);
}

body section .bottom-navbar-wrapper .bottom-navbar .active-menu-item {
  color: rgb(0, 192, 232);
}

body section .bottom-navbar-wrapper .soc-media-navbar {
  margin-bottom: 70px;
  text-align: center;
}

body section .bottom-navbar-wrapper .soc-media-navbar ul {
  list-style: none;
  display: inline-block;
}

body section .bottom-navbar-wrapper .soc-media-navbar ul li {
  float: left;
}

body section .bottom-navbar-wrapper .soc-media-navbar ul li a {
  width: 30px;
  height: 30px;
  background: url('pics/main-sprite.png');
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
  display: inline-block;
}

body section .bottom-navbar-wrapper .soc-media-navbar #facebook-icon {
  background-position-x: -204px;
  background-position-y: -121px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #linkedin-icon {
  background-position-x: -238px;
  background-position-y: -121px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #twitter-icon {
  background-position-x: -271px;
  background-position-y: -121px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #google-plus-icon {
  background-position-x: -304px;
  background-position-y: -121px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #instagram-icon {
  background-position-x: -338px;
  background-position-y: -121px;
}


/*hover effects of social media navbar*/

body section .bottom-navbar-wrapper .soc-media-navbar a:hover {
  transition: background 0.2s linear;
}

body section .bottom-navbar-wrapper .soc-media-navbar #facebook-icon:hover {
  background-position-x: -204px;
  background-position-y: -154px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #linkedin-icon:hover {
  background-position-x: -238px;
  background-position-y: -155px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #twitter-icon:hover {
  background-position-x: -271px;
  background-position-y: -155px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #google-plus-icon:hover {
  background-position-x: -304px;
  background-position-y: -155px;
}

body section .bottom-navbar-wrapper .soc-media-navbar #instagram-icon:hover {
  background-position-x: -338px;
  background-position-y: -154px;
}


/*styling footer*/

body footer {
  background-color: rgb(61, 65, 68);
}

body footer h2 {
  font-family: "GothamProMedium";
  font-size: 23px;
  color: rgb(0, 192, 232);
  text-transform: capitalize;
  margin-bottom: 50px;
}

body footer h3 {
  font-family: "GothamProMedium";
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

body footer a {
  font-family: "GothamProRegular";
  font-size: 13px;
  color: rgb(135, 135, 135);
  margin-bottom: 25px;
  display: block;
}

body footer a:hover {
  color: rgb(0, 192, 232);
  transition: color 0.2s linear;
}

body footer .footer-content-wrapper {
  padding-top: 85px;
  border-bottom: 3px solid rgb(70, 73, 75);
}

body footer .footer-content-wrapper .insurance-101 {
  width: 30%;
  margin-right: 50px;
  float: left;
}

body footer .footer-content-wrapper .footer-content-wider {
  width: 60%;
  float: left;
}

body footer .footer-content-wrapper .footer-content-wider .footer-tabular-block .footer-tabular-col {
  float: left;
  margin-left: 45px;
  margin-bottom: 20px;
}

body footer .footer-content-wrapper .footer-content-wider .footer-tabular-block .footer-first-col {
  margin-left: 0;
}

body footer .footer-content-wrapper .footer-content-wider .footer-license-plate-search {
  margin-bottom: 40px;
}

body footer .footer-content-wrapper .footer-content-wider .footer-license-plate-search a {
  display: inline;
  margin-left: 15px;
}

body footer .footer-content-wrapper .footer-content-wider .footer-license-plate-search a:first-child {
  margin-left: 0;
}

body footer .footer-content-wrapper .footer-content-wider .footer-license-plate-search-row {
  margin-bottom: 20px;
}

footer .copyright {
  margin-top: 50px;
  text-align: center;
  color: rgb(102, 102, 102);
}

footer .copyright p {
  margin-bottom: 50px;
  display: inline-block;
  font-size: 14px;
}

footer .copyright a {
  display: inline;
  color: rgb(102, 102, 102);
  font-size: 14px;
}